@{
    ViewBag.Title = "Materiales Hernández";
}
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Bienvenido a Materiales Hernández todo para la construcción</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">Aquí encontrarás un gran catalogo para la construcción</p>
            </div>
        </div>
    </div>
</header>
<!-- sección -->
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">Lo que necesites aquí lo encontrarás...</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">Productos para decoración, herramientas, materiales de construcción y más.</p>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Selecciona lo que estás buscando</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fab fa-5x fa-product-hunt text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Nuevos productos</h3>
                    <p class="text-muted mb-0">Aquí encontrarás los ultimos productos para la construcción y decoración de tu casa.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-5x fa-shopping-cart text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Cotizar</h3>
                    <p class="text-muted mb-0">¿Piensas hacer un presupuesto para tu próximo proyecto de tu hogar? Aquí podrás realizar una comparativa de lo que necesitas para tu hogar.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-5x fa-cart-arrow-down text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Catalogo</h3>
                    <p class="text-muted mb-0">Aquí podras ver nuestro inventario, todo para construcción.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-5x fa-info text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Servicios</h3>
                    <p class="text-muted mb-0">Necesitas servicio de transporte para tus productos de construcción, consulta nuestro servicios.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-0" id="portfolio">
    <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
                    <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Productos
                            </div>
                            <div class="project-name">
                                Eléctricos
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
                    <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Productos
                            </div>
                            <div class="project-name">
                                Plomeria
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
                    <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Productos
                            </div>
                            <div class="project-name">
                                Tanques de agua
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
                    <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Productos
                            </div>
                            <div class="project-name">
                                Trabajo pesado
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
                    <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Productos
                            </div>
                            <div class="project-name">
                                Accesorios para baños
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
                    <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Productos
                            </div>
                            <div class="project-name">
                                Herramientas
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark text-white">
    <div class="container text-center">
        <h2 class="mb-4">Registrese y está atento a los nuevos lanzamientos.</h2>
        <a class="btn btn-light btn-xl sr-button" href="#">Registrese</a>
    </div>
</section>

